.container {
    max-width: 1000px;
    margin: auto;
    background-color: rgba(240, 240, 240, 0.5); /* Color de fondo con transparencia */
    padding: 40px;
    border-radius: 8px;
  }
  /* Estilo del título en el formulario */
  .title-text {
    font-size: 36px; /* Tamaño de fuente grande */
    font-weight: bold; /* Texto en negrita */
    color: #00bed1; /* Color del texto */
    text-align: center; /* Centrar el texto */
    text-transform: uppercase; /* Mayúsculas */
    letter-spacing: 2px; /* Espaciado entre letras */
    background: linear-gradient(to right, #00bed1, #009eaf); /* Degradado de color */
    -webkit-background-clip: text; /* Clip de fondo para texto en navegadores webkit */
    -moz-background-clip: text; /* Clip de fondo para texto en navegadores Mozilla */
    background-clip: text; /* Clip de fondo estándar */
    color: transparent; /* Texto transparente para mostrar el degradado */
    padding: 10px 20px; /* Espaciado interno */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    transition: transform 0.3s, box-shadow 0.3s; /* Transición suave */
  }
  
  .title-text:hover {
    transform: translateY(-5px); /* Mover hacia arriba al pasar el ratón */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Aumentar la sombra al pasar el ratón */
  }
  
  /* Estilo para los campos de formulario */
  .form-field {
    background-color:#26b0bd; /* Fondo blanco */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow:  rgba(0, 0, 0, 0.1); /* Sombra sutil */
  }
  
  /* Estilo de la línea separadora */
  .separator-line {
    border-top: 2px solid #00bed1; /* Línea superior */
    margin: 20px 0; /* Margen vertical */
  }
  
  /* Estilo de la tarjeta de usuario */
  .user-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    border-radius: 10px; /* Bordes redondeados */
    overflow: hidden; /* Recorte del contenido */
    transition: transform 0.2s; /* Transición de transformación */
  }
  
  .user-card:hover {
    transform: translateY(-5px); /* Desplazamiento al pasar el ratón */
  }
  
  .user-info {
    display: flex; /* Flexbox */
    align-items: center; /* Alineación central */
    margin-bottom: 8px; /* Margen inferior */
  }
  
  .user-info mat-icon {
    margin-right: 8px; /* Margen derecho del icono */
    color: #00bed1; /* Color del icono */
  }
  
  .user-info .name {
    font-size: 16px; /* Tamaño de fuente */
    font-weight: bold; /* Negrita */
    color: #0f0f0f; /* Color del texto */
  }
  
  .user-info .info {
    font-size: 14px; /* Tamaño de fuente */
    color: #313030; /* Color del texto */
  }
  
  /* Estilo de los botones */
  .button-line {
    background-color: transparent; /* Fondo transparente */
    border: 2px solid #b0b0b0; /* Borde */
  }
  .button-line:hover {
    background-color: #b1b4b5 ; /* Color de fondo al pasar el ratón */
    color: #fff; /* Color del texto */
  }
  
  /* Estilo del título de la barra */
  .title-bar {
    background-color: #00bed1; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 10px; /* Espaciado interno */
    text-align: center; /* Texto centrado */
    font-size: 18px; /* Tamaño de fuente */
    font-weight: bold; /* Negrita */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
  }
  
  /* Estilo para resaltar el campo de entrada */
  .input-highlight {
    box-shadow: 0 0 5px rgba(0, 190, 209, 0.3); /* Sombra sutil */
    border-radius: 4px; /* Bordes redondeados */
  }
  
  .search-field {
    width: 400px; /* Ancho */
    margin-bottom: 30px; /* Margen inferior */
  }
  .footer {
    background-color: #00bed1;
    height: 50px; /* Ajusta la altura según sea necesario */
    width: 100%; /* Abarca todo el ancho de la página */
    position: fixed; /* Fija el pie de página en la parte inferior */
    bottom: 0; /* Alinea el pie de página en la parte inferior */
    left: 0; /* Alinea el pie de página en la parte izquierda */
    z-index: 1000; /* Valor alto para asegurar que esté por encima de otros elementos */
  }
  /* Estilo para el label de Fecha y hora */
  label[for="fecha"] {
    display: block; /* Mostrar como bloque para ocupar el ancho completo */
    margin-bottom: 8px; /* Margen inferior */
    padding: 3px;
  }
  /* Estilo personalizado para el icono del calendario */
  .custom-calendar-icon {
    color: #00bed1 !important; /* !important para asegurar que el estilo se aplique */
  }
  