<div>
    <app-navigation-bar-recepsionista></app-navigation-bar-recepsionista>
  </div>
  <div class="container mt-5">
    <h1 class="title-text mb-4">Ingresos</h1>
    <form [formGroup]="ingresoForm" (ngSubmit)="agregarOActualizarIngreso()" class="mb-4">
      <div class="row">
        <div class="col-md-6 mb-3">
          <mat-form-field appearance="fill" class="w-100 form-field">
            <mat-label>Tipo de Ingreso</mat-label>
            <mat-select formControlName="tipo_ingreso_id">
              <mat-option *ngFor="let tipo of tiposIngreso" [value]="tipo.id">{{ tipo.descripcion }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6 mb-3">
          <mat-form-field appearance="fill" class="w-100 form-field">
            <mat-label>Paciente</mat-label>
            <mat-select formControlName="paciente_id">
              <mat-option *ngFor="let paciente of pacientes" [value]="paciente.id">
                {{ paciente.nombre }} {{ paciente.apellido_paterno }} {{ paciente.apellido_materno }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6 mb-3">
          <mat-form-field appearance="fill" class="w-100 form-field">
            <mat-label>Forma de Pago</mat-label>
            <mat-select formControlName="forma_pago_id">
              <mat-option *ngFor="let forma of formasPago" [value]="forma.id">{{ forma.descripcion }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6 mb-3">
          <mat-form-field appearance="fill" class="w-100 form-field">
            <mat-label>Modalidad</mat-label>
            <mat-select formControlName="modalidad_id">
              <mat-option *ngFor="let modalidad of modalidades" [value]="modalidad.id">{{ modalidad.descripcion }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6 mb-3">
          <mat-form-field appearance="fill" class="w-100 form-field">
            <mat-label>Monto</mat-label>
            <input matInput formControlName="monto" type="number">
          </mat-form-field>
        </div>
        <div class="col-md-6 mb-3">
          <mat-form-field appearance="fill" class="w-100 form-field">
            <mat-label>Persona que Atendió</mat-label>
            <input matInput formControlName="persona_que_atendio" type="text">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
      <div class="col-md-6 mb-3 ">
        <label for="fecha">Fecha de Inicio</label>
        <p-calendar formControlName="fecha_inicio" [showIcon]="true" [showTime]="true"></p-calendar>
      </div>
      <div class="col-md-6 mb-3">
        <label for="fecha">Fecha de Fin</label>
        <p-calendar formControlName="fecha_fin" [showIcon]="true" [showTime]="true"></p-calendar>
      </div>
      <div class="row">
        <div class="col-md-6 mb-3">
          <button mat-raised-button  type="submit" class="mr-2 button-line">{{ editMode ? 'Actualizar' : 'Agregar' }}</button>
          <button mat-raised-button  type="submit"  class="mr-2 button-line" (click)="resetForm()">Cancelar</button>
        </div>
      </div>
    </div>
    </form>
    <hr class="separator-line">
    <div class="title-bar">Ingresos Disponibles</div>
    <hr class="separator-line">
  

    <mat-paginator
    #paginator
    [length]="filteredIngresos.length"
    [pageSize]="pageSize"
    [pageSizeOptions]="[6, 12, 18]"
    (page)="onPageChange($event)">
  </mat-paginator>
  
    <div class="row">
      <div class="col-lg-4 col-md-6 col-12 mb-3" *ngFor="let ingreso of paginatedIngresos">      
        <mat-card class="user-card">
          <mat-card-content>
            <div class="user-info">
              <mat-icon>person</mat-icon>
              <span class="name">{{ ingreso.paciente.nombre }} {{ ingreso.paciente.apellido_paterno }} {{ ingreso.paciente.apellido_materno }}</span>
            </div>
            <div class="user-info">
              <mat-icon>attach_money</mat-icon>
              <span class="info"><strong>Monto:</strong> {{ ingreso.monto }}</span>
            </div>
            <div class="user-info">
              <mat-icon>event</mat-icon>
              <span class="info"><strong>Fecha de Inicio:</strong> {{ ingreso.fecha_inicio | date:'short' }}</span>
            </div>
            <div class="user-info">
              <mat-icon>event</mat-icon>
              <span class="info"><strong>Fecha de Fin:</strong> {{ ingreso.fecha_fin | date:'short' }}</span>
            </div>          
            <div class="user-info">
              <mat-icon>payment</mat-icon>
              <span class="info"><strong>Forma de Pago:</strong> {{ ingreso.forma_pago.descripcion }}</span>
            </div>
            <div class="user-info">
              <mat-icon>person</mat-icon>
              <span class="info"><strong>Persona que Atendió:</strong> {{ ingreso.persona_que_atendio }}</span>
            </div>
            <div class="user-info">
              <mat-icon>account_balance</mat-icon>
              <span class="info"><strong>Modalidad:</strong> {{ ingreso.modalidad.descripcion }}</span>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <!-- Botones del formulario -->
            <button mat-button color="primary" (click)="editarIngreso(ingreso)">
              <mat-icon>edit</mat-icon>
              Editar
            </button>
            <button mat-button color="warn" (click)="confirmarEliminacion(ingreso.id)">
              <mat-icon>delete</mat-icon>
              Eliminar
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
      <footer class="footer">
      </footer>
    </div>
  </div>
  