<nav class="navbar bg-body-tertiary fixed-top">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <!-- Botón de navegación para el offcanvas -->
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Botón del calendario con contenido dinámico -->
    <a class="navbar-brand" [routerLink]="isAgendaActive() ? ['/calendario'] : ['/agenda']">
      <mat-icon>{{ isAgendaActive() ? 'calendar_today' : 'assignment' }}</mat-icon>
      {{ isAgendaActive() ? 'Calendario' : 'Agenda' }}
    </a>

  <!-- Botón de perfil de usuario sin scripts -->
  <div class="dropdown">
    <input type="checkbox" id="toggle-dropdown" style="display: none;">
    <label for="toggle-dropdown" class="btn btn-secondary profile-btn">
      <i class="fas fa-user"></i> <!-- Ícono actualizado a solo usuario en blanco -->
    </label>
    <ul class="dropdown-menu dropdown-menu-end">
      <li><a class="dropdown-item" href="/administrador">Inicio</a></li>
      <li><a class="dropdown-item" href="/login">Cerrar sesión</a></li>
    </ul>
  </div>
  
    </div>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h4 class="offcanvas-title" id="offcanvasNavbarLabel">
          <img src="../../../assets/PRIMUM.png" alt="Primum Wellness Center" class="navbar-logo2">
        </h4>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/ingresos">
              <i class="fas fa-wallet"></i> Ingresos
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/gastos">
              <i class="fas fa-money-bill-wave"></i> Gastos
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/reportes">
              <i class="fas fa-chart-bar"></i> Reportes
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/corteCaja">
              <i class="fas fa-cash-register"></i> Corte de caja
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/agenda">
              <i class="fas fa-calendar-alt"></i> Agenda
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/pacientes">
              <i class="fas fa-users"></i> Pacientes
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/usuarios">
              <i class="fa fa-user-md"></i> Usuarios
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>