
.container {
    max-width: 1000px;
    margin: auto;
    background-color: rgba(240, 240, 240, 0.5); /* Color de fondo con transparencia */
    padding: 40px;
    border-radius: 8px;
  }
  .title-text {
    font-size: 36px; /* Tamaño de fuente grande */
    font-weight: bold; /* Texto en negrita */
    color: #00bed1; /* Color del texto */
    text-align: center; /* Centrar el texto */
    text-transform: uppercase; /* Mayúsculas */
    letter-spacing: 2px; /* Espaciado entre letras */
    background: linear-gradient(to right, #00bed1, #009eaf); /* Degradado de color */
    -webkit-background-clip: text; /* Clip de fondo para texto en navegadores webkit */
    -moz-background-clip: text; /* Clip de fondo para texto en navegadores Mozilla */
    background-clip: text; /* Clip de fondo estándar */
    color: transparent; /* Texto transparente para mostrar el degradado */
    padding: 10px 20px; /* Espaciado interno */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    transition: transform 0.3s, box-shadow 0.3s; /* Transición suave */
  }
  
  .title-text:hover {
    transform: translateY(-5px); /* Mover hacia arriba al pasar el ratón */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Aumentar la sombra al pasar el ratón */
  }
  
  /* Estilo del logo */
  .logo {
    width: 350px; /* Ancho del logo */
    margin-bottom: 20px; /* Margen inferior del logo */
  }
  
  /* Estilo del título en la tarjeta de Material */
  mat-card-title {
    margin-bottom: 10px; /* Margen inferior del título */
    font-size: 24px; /* Tamaño de fuente del título */
    font-weight: bold; /* Negrita */
    color: #00bed1; /* Color del título */
  }
  
  /* Estilo del subtítulo en la tarjeta de Material */
  mat-card-subtitle {
    margin-bottom: 20px; /* Margen inferior del subtítulo */
    font-size: 14px; /* Tamaño de fuente del subtítulo */
    color: #777; /* Color del subtítulo */
  }
  
  /* Estilo de los campos de formulario de Material */
  mat-form-field {
    width: 100%; /* Ancho completo */
    margin-bottom: 20px; /* Margen inferior */
  }
  
  /* Estilo personalizado para los campos de formulario */
  .form-field {
    background-color:#26b0bd; /* Fondo blanco */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  }
  
  /* Color de los iconos en los campos de formulario */
  .input-icon {
    color: rgba(0, 0, 0, 0.54); /* Color de los iconos */
  }
  
  /* Estilo específico para los iconos de login */
  mat-icon.login-icon {
    margin-right: 8px; /* Margen derecho del icono */
    font-size: 20px; /* Tamaño de fuente del icono */
  }
  
  /* Estilo para los campos de formulario cuando están en foco */
  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #00bed1; /* Color del borde del campo */
    border-width: 2px; /* Grosor del borde */
  }
  
  .mat-form-field-label {
    color: #00bed1; /* Color de la etiqueta */
    font-weight: bold; /* Negrita */
  }
  
  /* Estilo de los botones */
  .button {
    background-color: #00bed1; /* Color de fondo del botón */
    color: #fff; /* Color del texto */
    font-weight: bold; /* Negrita */
    text-transform: uppercase; /* Texto en mayúsculas */
    padding: 12px 24px; /* Espaciado interno */
    border: none; /* Sin borde */
    border-radius: 8px; /* Bordes redondeados */
    cursor: pointer; /* Cursor de puntero */
    transition: background-color 0.3s; /* Transición suave del color de fondo */
  }
  
  /* Estilo de los botones */
  .button-line {
    background-color: transparent; /* Fondo transparente */
    border: 2px solid #b0b0b0; /* Borde */
  }
  .button-line:hover {
    background-color: #b1b4b5 ; /* Color de fondo al pasar el ratón */
    color: #fff; /* Color del texto */
  }
  
  /* Estilo del título de la barra */
  .title-bar {
    background-color: #00bed1; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 10px; /* Espaciado interno */
    text-align: center; /* Texto centrado */
    font-size: 18px; /* Tamaño de fuente */
    font-weight: bold; /* Negrita */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
  }
  
  /* Estilo de la línea separadora */
  .separator-line {
    border-top: 2px solid #00bed1; /* Línea superior */
    margin: 20px 0; /* Margen vertical */
  }
  
  /* Estilo de la tarjeta de usuario */
  .user-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    border-radius: 10px; /* Bordes redondeados */
    overflow: hidden; /* Recorte del contenido */
    transition: transform 0.2s; /* Transición de transformación */
    padding: 40px;
    background-color: #fff;
  }
  
  .user-card:hover {
    transform: translateY(-5px); /* Desplazamiento al pasar el ratón */
  }
  
  .user-info {
    display: flex; /* Flexbox */
    align-items: center; /* Alineación central */
    margin-bottom: 8px; /* Margen inferior */
  }
  
  .user-info mat-icon {
    margin-right: 8px; /* Margen derecho del icono */
    color: #00bed1; /* Color del icono */
  }
  
  .user-info .name {
    font-size: 16px; /* Tamaño de fuente */
    font-weight: bold; /* Negrita */
    color: #333; /* Color del texto */
  }
  
  .user-info .info {
    font-size: 14px; /* Tamaño de fuente */
    color: #777; /* Color del texto */
  }
  
  .user-actions {
    display: flex; /* Flexbox */
    justify-content: space-around; /* Espacio alrededor */
  }
  
  .user-actions button {
    font-size: 14px; /* Tamaño de fuente */
  }
  
  /* Estilo del campo de búsqueda */
  .search-field {
    width: 400px; /* Ancho */
    margin-bottom: 30px; /* Margen inferior */
  }
  
  .input-highlight {
    box-shadow: 0 0 5px rgba(0, 190, 209, 0.3); /* Sombra sutil */
    border-radius: 4px; /* Bordes redondeados */
  }
  .footer {
    background-color: #00bed1;
    height: 50px; /* Ajusta la altura según sea necesario */
    width: 100%; /* Abarca todo el ancho de la página */
    position: fixed; /* Fija el pie de página en la parte inferior */
    bottom: 0; /* Alinea el pie de página en la parte inferior */
    left: 0; /* Alinea el pie de página en la parte izquierda */
    z-index: 1000; /* Valor alto para asegurar que esté por encima de otros elementos */
  }
  .card-title{
    font-size: 20px;
  }
  .custom-dialog-content {
    max-height: 90vh; /* Aumenta la altura máxima */
    max-width: 95vw; /* Aumenta el ancho máximo */
    overflow: auto; /* Permite desplazamiento si es necesario */
    padding: 20px; /* Añade relleno para mejorar el espaciado */
    background-color: #fff; /* Asegura que el fondo sea blanco */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añade sombra para separar del fondo */
  
  }
  .fecha-hora-container {
    display: flex;
    flex-direction: column; /* Cambia a columna si el campo se ve más cómodo así */
    justify-content: center;
    align-items: flex-start; /* Alinea el contenido al inicio */
    margin-bottom: 20px;
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
  }
  
  .custom-calendar-icon {
    width: 100%; /* Asegura que el campo de calendario ocupe todo el ancho disponible */
    max-width: 400px; /* Ajusta el ancho máximo si es necesario */
  }
  .custom-calendar-icon {
    width: 100%; /* Asegura que el campo ocupe todo el ancho disponible */
    max-width: 400px; /* Ajusta el ancho máximo si es necesario */
  }
  