.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
.home-container {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
flex-direction: column;
}
.welcome-container {
font-family: Arial, sans-serif;
padding: 60px;
background-color: #ffffff;
border-radius: 8px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
display: flex;
flex-direction: column;
height: 100vh;
}

.header {
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px;
}

/* Estilos para el nuevo logo */
.new-logo {
height: 140px; /* Altura del nuevo logo */
margin-left: auto; /* Mueve el logo hacia la derecha */
}
.button-section {
display: flex;
gap: 10px;
justify-content: center; /* Centra los elementos horizontalmente */
align-items: center; /* Centra los botones verticalmente */
text-align: center; /* Centra el texto horizontalmente */

}

.nav-button {
background-color: #8A78B1;
color: white;
border: none;
padding: 10px 20px;
border-radius: 40px;
cursor: pointer;
}

.nav-button:hover {
background-color: #5a1483;
}

.main-content {
display: flex;
justify-content: space-between;
align-items: center;
flex: 1;
}

.title {
font-family: balquis; /* Cambia el tipo de letra a Cambria */
font-size: 90px;
color: #6a1b9a;
margin: 15px 0;
}

.title-section {
flex: 1;
display: flex;
flex-direction: column;
align-items: flex-start; /* Alinea el contenido al inicio */
justify-content: flex-start; /* Alinea el contenido al inicio */
margin-top: 0; /* Eliminamos el margen superior */
}
.texto {
  font-family: Arial, sans-serif; /* Tipo de letra */
  font-size: 16px; /* Tamaño de la fuente */
  color: #5AD1D9; /* Color del texto */
  line-height: 1.5; /* Espaciado entre líneas */
}
.logo {
height: 120px;
margin-bottom: 20px; /* Agregamos un margen inferior para separarlo del título */
}
.admin-login {
font-size: 16px;
color: #5AD1D9;
text-decoration: none;
margin-top: 20px; /* Ajusta el espacio desde el borde superior */

}
.image-section {
flex: 1;
display: flex;
justify-content: flex-end;
align-items: flex-end; /* Alinea la imagen hacia abajo */
position: absolute; /* Para colocarla en la esquina */
bottom: 0; /* La coloca en la parte inferior */
right: 0; /* La coloca en el lado derecho */
}


.illustration {
max-width: 100%; /* La imagen se ajustará al ancho del contenedor */
max-height: 100%; /* La imagen se ajustará al alto del contenedor */
width: auto; /* La imagen mantendrá su relación de aspecto */
height: auto; /* La imagen mantendrá su relación de aspecto */
}

.footer {
background-color: #8A78B1;
height:50px; /* Ajusta la altura según sea necesario */
width: 100%; /* Abarca todo el ancho de la página */
position: fixed; /* Fija el pie de página en la parte inferior */
bottom: 0; /* Alinea el pie de página en la parte inferior */
left: 0; /* Alinea el pie de página en la parte izquierda */
}
