<h1 mat-dialog-title>Actualizar Contraseña</h1>
<div mat-dialog-content>
  <form [formGroup]="passwordForm" class="password-form">
    <mat-form-field appearance="outline" class="w-100 form-field">
      <mat-label>Nueva Contraseña</mat-label>
      <input matInput id="password" formControlName="password" type="password">
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-100 form-field">
      <mat-label>Confirmar Nueva Contraseña</mat-label>
      <input matInput id="confirmPassword" formControlName="confirmPassword" type="password">
    </mat-form-field>
    <div *ngIf="passwordForm.hasError('mismatch') && passwordForm.get('confirmPassword')?.touched" class="error-message">
      Las contraseñas no coinciden.
    </div>
  </form>
</div>
<div mat-dialog-actions class="dialog-actions">
  <button mat-button (click)="onNoClick()" class="button-cancel">Cancelar</button>
  <button mat-button [disabled]="!passwordForm.valid" (click)="onSaveClick()" class="button-save">Guardar</button>
</div>