<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Modulo de Reportes</title>
</head>
<body>
  <div>
    <app-navigation-bar-administrador></app-navigation-bar-administrador>
  </div>
  <br>
  <br>
  <div class="container mt-5">
    <mat-tab-group>
      <mat-tab label="Reporte de Ingresos">
        <app-modulo-ingresos-reportes></app-modulo-ingresos-reportes>
      </mat-tab>
      <mat-tab label="Reporte de Gastos">
        <app-modulo-gastos-reportes></app-modulo-gastos-reportes>
      </mat-tab>
    </mat-tab-group>
  </div>
</body>
</html>