<!-- calendario-consultas.component.html -->
<div class="content-container">
  <!-- Barra de navegación separada -->
  <app-navigation-bar-agenda></app-navigation-bar-agenda>

  <div class="calendar-container">
    <full-calendar
      [options]="calendarOptions"
    ></full-calendar>

    <!-- Indicaciones dentro del contenedor del calendario -->
    <div class="indicaciones">
      <h3>Indicaciones:</h3>
      <p>1. Si deseas borrar alguna consulta, solo da click encima de ella.</p>
      <p>2. Si deseas ver información de la consulta, solo pon el mouse encima de ella.</p>
    </div>
  </div>
  <footer class="footer"></footer>
</div>